*, *:after, *:before {
	margin:  0;
	padding:  0;
}

img {
	display: block;
	width:  100%;
}

a {
	color:  white;
	display: inline-block;
	padding:  20px 25px;
	background: black;
	margin:  100px 25px;
	text-decoration: none;
	border-radius: 10px;
}